@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
    margin: 0;
    padding: 0;
    background: #1c1e21;
    color: white;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}